body {
    background: rgba(255, 99, 71, 0.767);
}

#container {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    text-align: center;
}

#subtitle {
    font-size: 15pt;
    color: thistle;
}

#header {
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer {
    color: yellow;
}